{{> admin/header }}
    <div id="wrapper">
        {{> admin/sidebar }}
        <div class="d-flex flex-column" id="content-wrapper">
                {{> admin/navbar }}
                
                {{{ body }}}

            </div>
        </div>
{{> admin/footer }}
